standard-sas-scl-test-functional-scl/log
standard-sas-scl-controller-process/uncaught-error
standard-sas-scl-common-storage/test/internal
standard-sas-scl-test-functional-sas/configHistory
standard-sas-scl-test-functional-sas/dataSimulator
standard-sas-scl-test-functional-sas/internalSimulator
standard-sas-scl-test-functional-sas/log
standard-sas-scl-test-functional-sas/monitoring
standard-sas-scl-test-functional-scl/configHistory
standard-sas-scl-test-functional-scl/dataSimulator
standard-sas-scl-test-functional-scl/internal
standard-sas-scl-test-functional-scl/internalSimulator
standard-sas-scl-test-functional-scl/monitoring
lock
standard-sas-scl-device-camera/testresources
SECRET.ks
Sequences_S.prop
standard-sas-scl-device-remoteServer/SimulProductSend
version
standard-sas-scl-business-activation/target
standard-sas-scl-business-alert/target
standard-sas-scl-business-coding/target
standard-sas-scl-business-production/target
standard-sas-scl-business-skucheck/target
standard-sas-scl-business-statistics/target
standard-sas-scl-common-app/target
standard-sas-scl-common-model/target
standard-sas-scl-common-storage/target
standard-sas-scl-controller-process/target
standard-sas-scl-device-bis/target
standard-sas-scl-device-brs/target
standard-sas-scl-device-camera/target
standard-sas-scl-device-plc/target
standard-sas-scl-device-printer/target
standard-sas-scl-device-remoteServer-impl/target
standard-sas-scl-device-remoteServer/target
standard-sas-scl-monitoring/target
standard-sas-scl-spring-common/target
standard-sas-scl-spring-scl/target
standard-sas-scl-test-utils/target
standard-sas-scl-view/target
standard-sas-app/target
standard-sas-scl-test-functional-common/target
standard-sas-scl-test-functional-sas/target
standard-sas-scl-test-functional-scl/target
standard-scl-app/target
*.project
standard-sas-scl-test-functional-scl/.settings/org.eclipse.core.resources.prefs
*.prefs
standard-scl-app/configHistory/
standard-scl-app/dataSimulator/
standard-scl-app/SimulProductSend/
standard-scl-app/internal/
*.classpath
standard-scl-app/monitoring/
standard-scl-app/log/
standard-sas-scl-common-storage/UserDatabase.csv
standard-scl-app/internalSimulator/
standard-sas-scl-common-storage/test/data/statistics.data
standard-sas-scl-apps/standard-scl-core-app/log/
standard-sas-scl-apps/standard-scl-core-app/profiles/SCL-CORE-DEV/internalSimulator/
standard-sas-scl-apps/standard-scl-core-app/profiles/SCL-CORE-DEV/simulProductSend/
standard-sas-scl-apps/standard-scl-core-app/profiles/SCL-CORE-DEV/dataSimulator/
standard-sas-scl-apps/standard-scl-core-app/profiles/SCL-CORE-DEV/internal/
standard-sas-scl-apps/standard-scl-core-app/profiles/SCL-CORE-DEV/monitoring/
standard-sas-scl-apps/standard-scl-core-app/uncaught-error/
standard-sas-scl-test-functional-common/profiles/test/simulProductSend/
standard-sas-scl-test-functional-common/profiles/test/internalSimulator/
standard-sas-scl-test-functional-common/profiles/test/monitoring/
standard-sas-scl-test-functional-common/profiles/test/dataSimulator/
standard-sas-scl-test-functional-common/uncaught-error/
standard-sas-scl-test-functional-common/log/
*.db
