<configuration debug="false">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{HH:mm:ss.SSS}] %-5p [%t] [%c{1}] %m%n</Pattern>
		</layout>
	</appender>

	<!-- <appender name="SASSCL" class="ch.qos.logback.core.FileAppender"> -->
	<!-- <File>log/sasscl.log</File> -->
	<!-- <Append>true</Append> -->
	<!-- <layout class="ch.qos.logback.classic.PatternLayout"> -->
	<!-- <Pattern>[%d{HH:mm:ss.SSS}] %-5p [%t] [%c{1}] %m%n</Pattern> -->
	<!-- </layout> -->
	<!-- </appender> -->

	<!-- <root level="${root-level:-WARN}" additivity="false"> -->
	<!-- <appender-ref ref="CONSOLE"/> -->
	<!-- </root> -->

	<logger additivity="true" name="com.sicpa.standard">
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</logger>


	<!-- the logger declared with this class can have dedicated appender -->
	<!-- additivity=true if you want the log in root appenders as well as in 
		this specific appender -->
	<!-- <logger additivity="true" name="com.sicpa.standard.sasscl.test.common.LoggerTest"> -->
	<!-- <level value="debug"/> -->
	<!-- <appender-ref ref="FILE_TEST_LOG"/> -->
	<!-- </logger> -->

</configuration>